/ext/Highcharts/exporting-server/java/highcharts-export/highcharts-export-convert/target/
/ext/Highcharts/exporting-server/java/highcharts-export/highcharts-export-web/target/
/temp/
/documents/
/coordinates/